.dialog{
    display: none;
}

@media screen and (max-width:640px) {
    .measurements-container p{
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid gray;
    }
}