{%extends 'base.html'%}
{%load static%} 

{%block stylesheet%}
  <link rel="stylesheet" href="{%static 'css/customers.css'%}">
{%endblock stylesheet%}

{%block content%}
  <section class="order-section min-h-[90vh]"> 
    <div class="order-content max-w-4xl mx-auto sm:p-8 p-4">

      <div class=" flex justify-between ">
        <h1 class=" text-xl sm:text-3xl font-medium">Orders</h1>
        <button class=" sm:px-4 px-2 rounded-full bg-yellow-500 text-black font-medium">
          <a href="{%url 'select-customer'%}">Create Order</a>
        </button>
      </div>

      <div class="border rounded-lg h-fit sm:p-4 p-2 mt-5 gap-3 ">
          <div class="searchbar-filters flex gap-3 flex-wrap w-full justify-between items-center">
            <div class="group">
              <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
              <input oninput="filterOrders()" placeholder="order Id or name" type="search" class="input search-input">
            </div>
            <!-- <div class="flex gap-3">
              <span class=" gap-2 flex flex-wrap">
                <label for="gender">Gender :</label>
                <select onchange="filterOrders()" name="gender" id="gender">
                  <option value="D">--------</option>
                  <option value="M">Male</option>
                  <option value="F">Female</option> 
                </select>
             </span>
             <span class=" gap-2 flex flex-wrap" >
                <label for="sortby">Sort by :</label>
                <select onchange="filterOrders()" name="sortby" id="sortby">
                  <option value="D">-------</option>
                  <option value="first_name">First Name</option>
                  <option value="city">City</option>
                  <option value="created_at">Created date</option>
                </select>
             </span>
            </div> -->
          </div>

          <div class="orders-list  mt-5 gap-2 grid">
            {%for order in page_obj%}
              <div onclick="window.location.href='/order-details/{{order.id}}'" class="order-card-container cursor-pointer rounded-md p-2  odd:bg-gray-100 even:bg-gray-50">
                <div class="order-card space-y-2">
                  <div class=" flex justify-between">
                    <p class=" text-lg sm:text-xl font-medium">{{order.customer.first_name}}</p>
                    <p>Order Id: {{order.id}}</p>
                  </div>
                  <div class=" flex justify-between">
                    <p>Items: {{order.items_count}}</p>
                    <p>Total: <span class=" font-medium">{{order.total_price}}</span></p>
                  </div>
                </div>
              </div>
              
              {%endfor%}
            </div>
          </div>
          <div class="pagination flex items-center justify-center mx-auto max-w-4xl pt-6 sm:px-8 px-4">
            <span class="step-links flex  w-full justify-between">
                {% if page_obj.has_previous %}
                    <button type="button" class=" border px-3 bg-yellow-500 rounded-full" ><i class="fa-solid fa-angle-left"></i></button>
                {%else%}
                    <div class="hidden-obj">

                    </div>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                  <span>
                    <button type="button" onclick="filterOrders('{{page_obj.next_page_number}}')" class=" border px-3 bg-yellow-500 rounded-full"><i class="fa-solid fa-angle-right"></i></button>
                  </span>
                {%else%}
                  <div class="hidden-obj">

                  </div>
                {% endif %}
            </span>
          </div>
    </div>
  </section>
  <script src="{%static 'js/orders.js'%}"></script>
{%endblock content%}

