{% extends 'base.html' %}
{% load static %}
{%block stylesheet%}
  <link rel="stylesheet" href="{%static 'css/products.css'%}">
{%endblock stylesheet%} 

{% block content %}
    <style>
        .footer {
            display: none;
        }
    </style>
    <form action="{% url 'checkout' customer_id %}" method="POST">
        {% csrf_token %}
        <section class="products-section flex flex-col items-center justify-center border px-5">
            <div class=" flex justify-between max-w-5xl items-center mt-10 w-full my-4">
                <h1 class="text-xl sm:text-3xl font-semibold">Product List</h1>
            </div>
            <div class="container mx-auto max-w-5xl my-5 border p-3 sm:p-5 rounded-md">
                <div class="searchbar-filters flex gap-3 flex-wrap w-full justify-between items-center">
                    <div class="group">
                        <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
                            <g>
                                <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                            </g>
                        </svg>
                        <input oninput="filterProducts()" placeholder="Search" type="search" class="input search-input">
                    </div>
                    <div class="flex gap-3">
                        <span class="gap-2 flex flex-wrap">
                            <label for="gender">Gender :</label>
                            <select onchange="filterProducts()" name="gender" id="gender">
                                <option value="D">--------</option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                        </span>
                        <span class="gap-2 flex flex-wrap">
                            <label for="sortby">Category :</label>
                            <select onchange="filterProducts()" name="category" id="category">
                                <option value="D">-------</option>
                                <option value="Shirt">Shirt</option>
                                <option value="Pant">Pant</option>
                                <option value="Suit">Suit</option>
                                <option value="Pyjama">Pyjama</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="products-container sm:gap-6 gap-3 grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 mx-auto w-full py-5">
                    {% for product in products %}
                    <div onclick="toggleSelected(event)" class="product-card rounded shadow-lg h-96 justify-center relative hover:cursor-pointer z-20">
                        <div class="product-img h-[60%] sm:h-[70%]">
                            <img loading="lazy" class="w-full h-full sm:p-5 p-3 rounded-3xl" src="{{ product.image.url }}" alt="{{ product.title }}">
                        </div>
                        <div class="px-6 py-4">
                            <div class="font-bold text-sm mb-2">{{ product.title | truncatewords:'2' }}</div>
                            <p class="text-gray-700 text-sm">{{ product.description | truncatewords:'2' }}</p>
                            <p class="text-gray-800 text-base font-semibold mt-2">₹{{ product.price }}</p>
                        </div>
                        <input name="selected_products" type="checkbox" class="selected_products absolute top-0 left-0 h-full w-full z-10 opacity-0" value="{{product.id}}">
                        <div class="selected-layer hidden rounded-md absolute h-full w-full left-0 top-0 items-end justify-end  bg-black opacity-50">
                            <h1 class=" text-6xl text-white font-extrabold pr-3 pb-3"><i class="fa-solid fa-check"></i></h1>
                        </div>

                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="flex justify-center">
                <button class="checkout-btn fixed bottom-[5%] px-3 py-1 bg-[#24262b] text-white rounded-md z-30">Checkout</button>
            </div>
        </section>
    </form>
    <script src="{% static 'js/select_products.js' %}"></script>
{% endblock content %}
