{%extends 'base.html'%}

{%block content%}
<section>
    <div class="content-box-container h-[90vh] flex items-center justify-center ">
        <div class="content-box p-5 border max-w-2xl shadow-md rounded-md mx-5">
            <h1 class=" text-xl font-medium text-center p-2">
                Password reset sent
            </h1>
            
            <p class=" text-sm sm:text-base text-gray-500">
                &#x2022 We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
            </p>
            
            <p class=" text-sm sm:text-base text-gray-500">
                &#x2022 If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
            </p>
            <div class=" flex items-center justify-center text-center">
                <a href="{%url 'login'%}" class="bg-[#212121] text-white font-bold py-2 px-4 rounded-md mt-4 hover:bg-indigo-600 hover:to-blue-600 transition ease-in-out duration-150 w-full">Login</a>
            </div>
        </div>
    </div>
</section>
{%endblock content%}