{%extends 'base.html'%}
{%load static%}

{%block stylesheet%}
    <link rel="stylesheet" href="{%static 'css/password_reset.css'%}">
{%endblock stylesheet%}
{%block content%}

<section class=" flex h-[90vh] justify-center items-center">
    <div class="form-container h-fit">
      <h2 class=" text-2xl font-medium">Password Reset</h2>
  
        <form class="form" method="post">
            {%csrf_token%}

            <input placeholder="Email" class="bg-gray-100 text-gray-900 border-0 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150 w-full" type="email" id="id_email" name="email" placeholder="Enter your email" required="">
  
          <button class="form-submit-btn" type="button">Send Email</button>
        </form>
  
        <p class="signup-link">
          Don't have an account?
          <a href="{%url 'register'%}" class="signup-link link"> Sign up now</a>
        </p>
    </div>
</section>

{%endblock content%}