{%extends 'base.html'%}
{% load static%}

{%block stylesheet%}
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
{%endblock stylesheet%}

{%block content%}
    <section class="login-container h-[90vh] flex items-center justify-center w-full">
        <div class=" border  bg-white rounded-lg shadow-md p-6  mx-5 w-full max-w-md">
            <div class="form-content w-full">
                <h1 class=" text-2xl font-bold my-2">New Password</h1>
                <form method="post">
                    {%csrf_token%}
                    <input required placeholder="Password" class="bg-gray-100 text-gray-900 border-0 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150 w-full" type="password" name="new_password1" id="id_new_password1">
                    <div class=" text-red-500">{{form.new_password1.errors}}</div>
                    <input required placeholder="Confirm Password" class="bg-gray-100 text-gray-900 border-0 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150 w-full" type="password" name="new_password2" id="id_new_password2">
                    <div class=" text-red-500">{{form.new_password2.errors}}</div>
                    <button class="bg-[#212121] text-white font-bold py-2 px-4 rounded-md mt-4 hover:bg-gray-700 w-full" type="submit">Change Password</button>
                </form>
            </div>
        </div>
    </section>
<script src="{%static 'js/login.js'%}"></script>
{%endblock content%}