{%extends 'base.html'%}
{%load static%}
{%block content%}
    <form action="" method="POST">
        {%csrf_token%}
        <h1 class=" text-center text-4xl font-bold text-gray-500 my-5">Dashboard</h1>
        <section class=" max-w-4xl flex items-center w-full justify-center mx-auto  overflow-scroll">
            <div class="dashboard-container border w-full p-5 rounded-lg mb-3">
                <div class="buttons-section mb-4 mt-2">
                    <button onclick="filterOrderItems(event)" id="Not-Stitched" class="border filter-btn px-2 bg-gray-800 text-white rounded-md" type="button">Not Stitched</button>
                    <button onclick="filterOrderItems(event)" id="urgent" class="border filter-btn px-2  rounded-md" type="button">Urgent</button>
                    <button onclick="filterOrderItems(event)" id="Stitched" class="border filter-btn px-2 rounded-md" type="button">Stitched</button>
                </div>
                <div class="products-container-header">
                    <div class="grid grid-cols-10 p-2 sm:px-3   bg-gray-800 text-white rounded-tr-md rounded-tl-md h-10  sm:h-12 items-center text-sm sm:text-lg">
                        <p class="  col-span-3">Name</p>
                        <p class="col-span-4">Product Title</p>
                        <p class="  col-span-2">Req. Date</p>
                        <div></div>
                    </div>
                </div>
                <div class="products-container gap-3 min-h-[55vh] max-h-[55vh] overflow-scroll scroll-m-1">
                    {%for item in order_items%}
                        <div class="product-card grid grid-cols-10 p-2 sm:px-3  even:bg-gray-200 odd:bg-gray-50 gap-2 text-sm sm:text-base items-center">
                            <p class="  col-span-3">{{item.customer_name}}</p>
                            <p class=" col-span-4">{{item.title|truncatewords:'2'}}</p>
                            <p class="  col-span-2">{{item.requested_date|date:'M,d'}}</p>
                            <div id="{{item.id}}" class="check-btn-{{item.id}} px-4 hover:cursor-pointer"  onclick="updateStatus(event)" >
                                <i id="{{item.id}}" class="fa-solid fa-check text-green-600"></i>
                            </div>
                        </div>
                    {%endfor%}
                </div>
            </div>
        </section>
    </form>
    <script src="{%static 'js/dashboard.js'%}"></script>

{%endblock content%}