/* Changes Done by ahammed */
/* welcome page scroll bar hidden */
/*  */
/* Latest update no 1 */


*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.welcome{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #f1e4b8;
    box-sizing: border-box;
}

/* up-1 */
::-webkit-scrollbar{
    display: none;
}


/* up-1 */
.poster{
    margin-top: 60px;
    width: 50%;
    height: 80%;
    background: url("../images/poster.jpg") no-repeat center center/cover;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

/* up 1 */
.caption{
    margin-top: 60px;
    height: 90%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.caption h1{
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
}

.caption p{
    width: 60%;
    margin: 20px 60px;
    font-size: 1.2rem;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* up 1 */
.caption a{
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px 10px;
    background-color: black;
    color: #f1e4b8;
    text-decoration: none;
    box-shadow: 2px 2px 2px gray;
    transition: all 0.2s;
}
/* Up 1 */
.caption a:hover{
    background-color:#1a1919;
    color: #f1e4b8;
    box-shadow: 1px 1px 1px gray;
}



@media (max-width:768px) {
    .caption h1{
        font-size: 2rem;
    }
    .caption p{
        font-size: 0.6rem;
    }
}