{%extends 'base.html'%}
{%load static%}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/transactions.css' %}">
{% endblock stylesheet %}

{%block content%}

        <section class=" flex flex-col  items-center mx-5 min-h-[90vh]">
            <div class="max-w-3xl w-full py-4">
                <h1 class=" text-xl sm:text-3xl font-medium text-left">Transactions</h1>
            </div>
            <div class="transactions-container flex flex-col max-w-3xl  w-full border p-4 rounded-md min-h-[70vh]">
                <div class="searchbar-filters flex gap-3 flex-wrap w-full justify-between items-center pb-5">
                    <div class="group">
                      <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
                      <input oninput="filterTransactions()" placeholder="Search" type="search" class="input search-input">
                    </div>
                    <!-- <div class="flex gap-3">
                        <span class=" gap-2 flex flex-wrap">
                            <label for="gender">Gender :</label>
                            <select onchange="filterCustomers()" name="gender" id="gender">
                            <option value="D">--------</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            </select>
                        </span>
                        <span class=" gap-2 flex flex-wrap" >
                            <label for="sortby">Sort by :</label>
                            <select onchange="filterCustomers()" name="sortby" id="sortby">
                            <option value="D">-------</option>
                            <option value="first_name">First Name</option>
                            <option value="city">City</option>
                            <option value="created_at">Created date</option>
                            </select>
                        </span>
                    </div> -->
                </div>
                {%if page_obj%}
                <div class="transactions-list flex flex-col justify-center items-center gap-1 sm:gap-2">
                    {%for transaction in page_obj%}
                        <div class="transaction-card flex justify-between w-full even:bg-slate-100 odd:bg-slate-50 rounded-md px-4 pb-3">
                            <div class="flex gap-2 sm:gap-4">
                                <div class="flex justify-center items-center"><img class=" h-11 w-11 rounded-full" src="{{transaction.order.customer.profile.url}}" alt=""></div>
                                <div class="flex gap-1 flex-col">
                                    <p class="text-lg font-medium">{{transaction.order.customer.first_name}}</p>
                                    <p class=" text-sm  text-gray-500">Order Id:{{transaction.order.id}}</p>
                                </div>
                            </div>
                            <div class=" flex justify-center items-center font-bold"><p>{{transaction.amount}}</p></div>
                        </div>
                    {%endfor%}
                </div>
                {%endif%}
                <div {%if not page_obj%} class="not-found h-full w-full flex flex-col gap-4 items-center justify-center min-h-[50vh]" {%else%} class="not-found h-full w-full flex items-center justify-center" {%endif%}>
                    {%if not page_obj%}
                        <h1 class=" text-xl sm:text-3xl md:text-4xl lg:text-6xl  font-medium text-gray-500">No Transactions Found</h1>
                    {%endif%}
                </div>
            </div>
            <div class="pagination flex items-center justify-center mx-auto max-w-3xl w-full pt-4 sm:px-8 px-4 ">
                    {%if page_obj%}
                    <span class="step-links flex  w-full justify-between">
                        {% if page_obj.has_previous %}
                            <button type="button" class=" border px-3 bg-yellow-500 rounded-full" ><i class="fa-solid fa-angle-left"></i></button>
                        {%else%}
                            <div class="hidden-obj">
        
                            </div>
                        {% endif %}
                
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                
                        {% if page_obj.has_next %}
                        <span>
                            <button type="button" onclick="filterTransactions('{{page_obj.next_page_number}}')" class=" border px-3 bg-yellow-500 rounded-full"><i class="fa-solid fa-angle-right"></i></button>
                        </span>
                        {%else%}
                        <div class="hidden-obj">
        
                        </div>
                        {% endif %}
                    </span>
                    {%endif%}
                </div>
        </section>

<script src="{%static 'js/transactions.js'%}"></script>

{%endblock content%}