{%extends 'base.html'%}
{% load custom_filters %}
{%load static%}
{%block title%} Add Measurements {%endblock title%}
{%block stylesheet%} <link rel="stylesheet" href="{% static 'css/add_measurements.css'%}"> {%endblock stylesheet%}
{%block content%}
<form action="" method="post">
    {%csrf_token%}
    <section class="measurements-section w-full ">
        <h1 class=" p-5 text-xl font-medium text-center">Add {{customer.first_name}}'s measurements</h1>

        {%include 'customers/measurements_form.html' with measurements_content='measurements_content'%}
        
        <div class=" flex justify-center items-center pb-7 ">
            <button type="submit" class="submit-btn bg-yellow-400 px-3 rounded-md hover:bg-yellow-300">Submit</button>
        </div>
    </section>
    <script>
        function confirmBeforeUnload(event) {
            event.returnValue = 'are you sure?';
        }
        window.addEventListener('beforeunload',confirmBeforeUnload)
        const submitBtn = document.querySelector('.submit-btn')
        console.log(submitBtn)
        submitBtn.addEventListener('click',()=>window.removeEventListener('beforeunload',confirmBeforeUnload))
    </script>
</form>
{%endblock content%}