
<div class=" mb-4">
    <input name="first_name" id="id_first_name" {%if form.first_name.value and not form.first_name.errors%} value="{{form.first_name.value}}" {%endif%} placeholder="First Name" class=" w-full bg-gray-100 text-gray-900 border-0 rounded-md p-2 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150" type="text">
    <span class=" text-red-400">{{form.first_name.errors}}</span>
</div>
<div class=" mb-4">
    <input name="last_name" id="id_last_name" {%if form.first_name.value and not form.last_name.errors%} value="{{form.last_name.value}}" {%endif%} placeholder="Last Name" class=" w-full bg-gray-100 text-gray-900 border-0 rounded-md p-2 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150" type="text">
    <span class=" text-red-400">{{form.last_name.errors}}</span>
</div>

<div class=" mb-4">
    <input name="email" id="id_email" {%if form.email.value and not form.email.errors%} value="{{form.email.value}}" {%endif%} placeholder="Email" class=" w-full bg-gray-100 text-gray-900 border-0 rounded-md p-2 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150" type="email">
    <span class=" text-red-400">{{form.email.errors}}</span>
</div>

<div class=" mb-4">
    <input name="phone" id="id_phone" {%if form.phone.value and not form.phone.errors%} value="{{form.phone.value}}" {%endif%} placeholder="Phone" class=" w-full bg-gray-100 text-gray-900 border-0 rounded-md p-2 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150" type="text">
    <span class=" text-red-400">{{form.phone.errors}}</span>
</div>
<div class=" mb-4">
    <input name="city" id="id_city" {%if form.city.value and not form.city.errors%} value="{{form.city.value}}" {%endif%} placeholder="City" class=" w-full bg-gray-100 text-gray-900 border-0 rounded-md p-2 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150" type="text">
    <span class=" text-red-400">{{form.email.errors}}</span>
</div>

<div class="">
    <select name="gender" id="id_gender" class=" w-full bg-gray-100 text-gray-900 border-0 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150" id="gender">
        <option {% if form.gender.value == 'M'%} selected {%endif%} value="M">Male</option>
        <option {% if form.gender.value == 'F'%} selected {%endif%} value="F">Female</option>
    </select>
</div>

<div class="custom-file-container bg-gray-100 rounded-md w-full">
    <label for="id_profile" id="custom-file-label" class="custom-file-label text-black">{%if profile.value%} {{profile.name}} {%else%} Profile {%endif%}</label>
    <input type="file" id="id_profile" name="profile" class="custom-file-input" onchange="updateLabel()">
    <span class=" text-red-400">{{form.profile.errors}}</span>
</div>                  

<script>
    function updateLabel() {
        const fileInput = document.getElementById('id_profile');
        const fileLabel = document.getElementById('custom-file-label');
        
        if (fileInput.files.length > 0) {
          fileLabel.textContent = fileInput.files[0].name;
        } else {
          fileLabel.textContent = 'Drop Profile';
        }
      }
      
</script>