{%load static%}
{% block measurements_content%}

<input type="hidden" name="customer" value={{customer.id}}>
<div class="measurements-content p-10  sm:pt-5  sm:flex mx-auto sm:justify-center sm:items-center">
    {% if customer.gender == 'F'%}
        <div class="left-measurements max-w-[280px] mx-auto sm:mx-0 sm:max-w-full   sm:h-[30rem] sm:min-w-[140px] sm:flex flex-col sm:items-end">
            <p class="neck input-field flex sm:block justify-between sm:justify-normal  sm:mt-8">
                <label for="id_neck">Neck - </label>
                {{form.neck}}
            </p>
            <p class="chest mt-2 input-field flex sm:block  justify-between sm:justify-normal sm:mt-7">
                <label for="id_chest">Chest - </label>
                {{form.chest}}
            </p>
            <p class="waist mt-2 input-field flex sm:block  justify-between sm:justify-normal sm:mt-12">
                <label for="id_waist">Waist - </label>
                {{form.waist}}
            </p>
            <p class="hips mt-2 input-field flex sm:block  justify-between sm:justify-normal sm:mt-6">
                <label for="id_hips">Hips - </label>
                {{form.hips}}
            </p>
            <p class="thigh mt-2 input-field flex sm:block  justify-between sm:justify-normal sm:mt-7">
                <label for="id_thigh">Thigh - </label>
                {{form.thigh}}
            </p>
            <p class="knee mt-2 input-field flex sm:block  justify-between sm:justify-normal sm:mt-5">
                <label for="id_knee">Knee - </label>
                {{form.knee}}
            </p>
            <p class="calf mt-2 input-field flex sm:block  justify-between sm:justify-normal sm:mt-8">
                <label for="id_calf">Calf - </label>
                {{form.calf}}
            </p>
        </div>


        <div class="img-container hidden sm:block  sm:min-w-[275px] sm:w-[80%] sm:max-w-[400px]">
            <img class=" sm:h-[30rem] sm:w-full" src="{%static 'images/women_body_measurements.jpeg'%}" alt="" /> 
        </div>


        <div class="right-measurements max-w-[280px] mx-auto sm:mx-0 sm:max-w-full sm:min-w-[180px] sm:h-[30rem] sm:flex flex-col items-stretch">
            <p class="sleeve mt-2 input-field flex sm:block  justify-between sm:justify-normal sm:mt-9">
                <label for="id_sleeve">sleeve - </label>
                {{form.sleeve}}
            </p>
            <p class="back mt-2 input-field flex sm:block  justify-between sm:justify-normal sm:mt-14">
                <label for="id_back">back - </label>
                {{form.back}}
            </p>
            <p class="waistband mt-2 input-field flex sm:block  justify-between sm:justify-normal sm:mt-4">
                <label for="id_waistband">waistband - </label>
                {{form.waistband}}
            </p>
            <p class="outseam mt-2 input-field flex sm:block  justify-between sm:justify-normal sm:mt-20">
                <label for="id_outseam">outseam - </label>
                {{form.outseam}}
            </p>
            <p class="inseam mt-2 input-field flex sm:block  justify-between sm:justify-normal sm:mt-11">
                <label for="id_inseam">inseam - </label>
                {{form.inseam}}
            </p>
            <p class="ankle mt-2 input-field flex sm:block  justify-between sm:justify-normal sm:mt-9">
                <label for="id_ankle">ankle - </label>
                {{form.ankle}}
            </p>
        </div>

    {%else%}

        <div class="left-measurements max-w-[280px] mx-auto sm:mx-0 sm:max-w-full   sm:h-[30rem] sm:min-w-[140px] sm:flex flex-col sm:items-end">
            <p class="neck input-field flex sm:block justify-between sm:justify-normal  sm:mt-12">
                <label for="id_neck">Neck - </label>
                {{form.neck}}
            </p>
            <p class="chest mt-2 input-field flex sm:block  justify-between sm:justify-normal sm:mt-7">
                <label for="id_chest">Chest - </label>
                {{form.chest}}
            </p>
            <p class="waist mt-2 input-field flex sm:block  justify-between sm:justify-normal sm:mt-12">
                <label for="id_waist">Waist - </label>
                {{form.waist}}
            </p>
            <p class="hips mt-2 input-field flex sm:block  justify-between sm:justify-normal sm:mt-6">
                <label for="id_hips">Hips - </label>
                {{form.hips}}
            </p>
            <p class="knee mt-2 input-field flex sm:block  justify-between sm:justify-normal sm:mt-5">
                <label for="id_knee">Knee - </label>
                {{form.knee}}
            </p>
            <p class="thigh mt-2 input-field flex sm:block  justify-between sm:justify-normal sm:mt-4">
                <label for="id_thigh">Thigh - </label>
                {{form.thigh}}
            </p>
            <p class="calf mt-2 input-field flex sm:block  justify-between sm:justify-normal sm:mt-8">
                <label for="id_calf">Calf - </label>
                {{form.calf}}
            </p>
        </div>


        <div class="img-container hidden sm:block  sm:min-w-[275px] sm:w-[80%] sm:max-w-[400px]">   
            <img class=" sm:h-[30rem] sm:w-full" src="{%static 'images/men_body_measurements1.jpeg'%}" alt="" />
        </div>

        
        <div class="right-measurements max-w-[280px] mx-auto sm:mx-0 sm:max-w-full sm:min-w-[180px] sm:h-[30rem] sm:flex flex-col items-stretch">
            <p class="sleeve mt-2 input-field flex sm:block  justify-between sm:justify-normal sm:mt-9">
                <label for="id_sleeve">sleeve - </label>
                {{form.sleeve}}
            </p>
            <p class="back mt-2 input-field flex sm:block  justify-between sm:justify-normal sm:mt-12">
                <label for="id_back">back - </label>
                {{form.back}}
            </p>
            <p class="waistband mt-2 input-field flex sm:block  justify-between sm:justify-normal sm:mt-10">
                <label for="id_waistband">waistband - </label>
                {{form.waistband}}
            </p>
            <p class="outseam mt-2 input-field flex sm:block  justify-between sm:justify-normal sm:mt-12">
                <label for="id_outseam">outseam - </label>
                {{form.outseam}}
            </p>
            <p class="inseam mt-2 input-field flex sm:block  justify-between sm:justify-normal sm:mt-11">
                <label for="id_inseam">inseam - </label>
                {{form.inseam}}
            </p>
            <p class="ankle mt-2 input-field flex sm:block  justify-between sm:justify-normal sm:mt-11">
                <label for="id_ankle">ankle - </label>
                {{form.ankle}}
            </p>
        </div>
    {%endif%} 
</div>

{%endblock measurements_content%}