{%extends 'base.html'%}
{% load custom_filters %}
{%load static%}
{%block title%} Add Measurements {%endblock title%}
{%block stylesheet%} <link rel="stylesheet" href="{% static 'css/measurements.css'%}"> {%endblock stylesheet%}
{%block content%}
    <div class="">
        <div class="measurements-container flex bg-pink md:m-10">
            <div class="measurements-left sm:w-[30%] h-full flex flex-col text-right border border-black">
                <div class="text-right sm:mt-11">
                    <label>{{form.neck.label}} = </label>
                    {{form.neck|add_attr:"class:input-field border border-black rounded"}}
                </div>
                <div class="text-right sm:mt-7">
                    <label for="">{{form.chest.label}} = </label>
                    {{form.chest|add_attr:"class:input-field border border-black rounded"}}
                </div>
                <div class="text-right sm:mt-16">
                    <label for="">{{form.waist.label}} = </label>
                    {{form.waist|add_attr:"class:input-field border border-black rounded"}}
                </div>
                <div class="text-right sm:mt-6">
                    <label for="">{{form.hips.label}} = </label>
                    {{form.hips|add_attr:"class:input-field border border-black rounded"}}
                </div>
                <div class="text-right sm:mt-10">
                    <label for="">{{form.thigh.label}} = </label>
                    {{form.thigh|add_attr:"class:input-field border border-black rounded"}}
                </div>
                <div class="text-right sm:mt-6">
                    <label for="">{{form.knee.label}} = </label>
                    {{form.knee|add_attr:"class:input-field border border-black rounded"}}
                </div>
                <div class="text-right sm:mt-9">
                    <label for="">{{form.calf.label}} = </label>
                    {{form.calf|add_attr:"class:input-field border border-black rounded"}}
                </div>
            </div>
            <div class="sm:w-[40%] mix-blend-color-burn h-[100%] flex justify-center items-center border border-black">
              <img style="height: 100%; width:100%;" src="{%static 'images/women_body_measurements.jpeg'%}" alt="" /> 
            </div>
            <div class="measurements-left sm:w-[30%] h-full flex flex-col text-right border border-black">
                <div class="text-left mt-11 sm:mt-11">
                    <label>{{form.sleeve.label}} = </label>
                    {{form.sleeve|add_attr:"class:input-field border border-black rounded"}}
                </div>
                <div class="text-left sm:mt-16">
                    <label for="">{{form.back.label}} = </label>
                    {{form.back|add_attr:"class:input-field border border-black rounded"}}
                </div>
                <div class="text-left sm:mt-9">
                    <label for="">{{form.waistband.label}} = </label>
                    {{form.waistband|add_attr:"class:input-field border border-black rounded"}}
                </div>
                <div class="text-left sm:mt-24">
                    <label for="">{{form.outseam.label}} = </label>
                    {{form.outseam|add_attr:"class:input-field border border-black rounded"}}
                </div>
                <div class="text-left sm:mt-12">
                    <label for="">{{form.inseam.label}} = </label>
                    {{form.inseam|add_attr:"class:input-field border border-black rounded"}}
                </div>
                <div class="text-left sm:mt-10">
                    <label for="">{{form.ankle.label}} = </label>
                    {{form.ankle|add_attr:"class:input-field border border-black rounded"}}
                </div>
            </div>
        </div>
        
    </div>
{%endblock content%}