
{%extends 'base.html'%}
{%load static%}
{%block title%} New Customer {%endblock title%}
{%block stylesheet%}
    <link rel="stylesheet" href="{% static 'css/new_customer.css'%}">
{%endblock stylesheet%}


{%block content%}
    <section>
        <form class="flex flex-col" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="flex flex-col items-center justify-center min-h-[90vh] mx-5 my-4">
                <div class="w-full max-w-xl bg-white rounded-lg shadow-md p-6 pt-4 ">
                    <h2 class="text-2xl font-bold text-gray-900 mb-4">Add Customer</h2>
                    {%include 'customers/customer_form.html'%}
                    <button class="bg-[#212121] text-white font-bold py-2 px-4 rounded-md mt-4 hover:bg-indigo-600 hover:to-blue-600 transition ease-in-out duration-150 w-full" type="submit">Add Customer</button>
                </div>
            </div>
        </form>       
    </section>

{%endblock content%}